<!DOCTYPE html>
<html>
<head>
	<title>ToDo List</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
	<div id = "root"> 
		<div>
			<input v-model="inputValue"/>
			<button @click="handleSubmit">Submit</button>
		</div>
		<ul><li v-for="(item, index) in list" :key="index">{{item}}</li></ul>
	</div>
		<script type="text/javascript">
			new Vue({
				el: "#root",
				data:{
					inputValue: "",
					list: []
				},
				methods:{
					handleSubmit: function(){
						this.list.push(this.inputValue);
						this.inputValue = "";
					}
				}
			})
		</script>
</body>
</html>